* {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    max-width: 100%;
}

body {
    font-size: 18px;
    background-color: white;
    color: #333;
    font-family: 'AvenirLTPro-Book', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #333;
    position: relative;
    border: 0;
    border-bottom: 1px solid #333;
    display: inline-block;
    line-height: 0.8;
    transition: border-bottom-color 0.3s;
}

a:active,
a:visited {
    color: #333;
}

a:hover {
    border-bottom: 1px solid currentColor;
}

p {
    margin: 0;
    line-height: 1.44444444444em;
}

.email-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-subscribe__intro {
    margin-bottom: 1rem;
}

.email-subscribe__form {
    display: flex;
    margin-bottom: 2rem;
}

.email-subscribe__input {
    flex-grow: 1;
    border: 2px solid #E4E4E4;
    border-radius: 3px;
    background: white;
    font-size: 1.125rem;
    padding: 0 0.5rem;
    margin-right: 0.5rem;
    height: 2.375rem;
}

.email-subscribe__input--invalid {
    box-shadow: 0px 0px 3px 2px #FF4136;
}

.email-subscribe__error-message {
    font-style: italic;
    margin-top: 0.5rem;
    color: #FF4136;
    font-size: 0.9rem;
    position: absolute;
}

.email-subscribe__submit {
    font-size: 1.125rem;
    background-color: rgb(142, 17, 255);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    height: 2.375rem;
}

.email-subscribe__privacy-policy {
    font-size: 0.6em;
}

@media (min-width: 1850px) {
    body {
        font-size: 22px;
    }
}

@media (max-width: 740px) {
    .container {
        width: 90%;
    }
}
